name: Keep Repository Active

on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight UTC
  workflow_dispatch:

jobs:
  keep_active:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Perform a Minimal Action
        run: echo "This workflow prevents GitHub Action inactivity."